<!DOCTYPE html>
<html>

<head>
    <title>Select timezone using world map</title>
</head>

<body class="example" onload="loaded()">
    <script type="text/javascript">

function loaded() {
    $('body').timezonePicker({
        showHoverText: false
    });
}

    </script>
</body>

</html>